# Python Bytecode and Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Local generated output visualization files
*_network.png
*_network_interactive.html
